.schedule-table-container {
    display: table;
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

.schedule-table-row {
    display: table-row; 
}

.schedule-table-cell {
    display: table-cell; 
    padding: 10px; 
    border: 1px solid #ddd; 
    vertical-align: top; 
}

.schedule-table-header.schedule-table-row {
    background-color: #f2f2f2; 
    font-weight: bold;
}

.schedule-table-header-cell {
     text-align: left; 
}

